<div class="card">
      <h3 class="card-header">Login</h3>
      <form id="login" class="card-body">
        <label class="form-label" for="username-login">Username</label>
        <input  id="username" type="text" autofocus="true" class="input" />

        <label class="label" for="password-login">Password</label>
        <input id="password-login" type="password" autofocus="true" class="input" />

        <button type="submit" class="btn">Submit</button>
        <a class="login-link" href="/signup">Sign Up</a>
      </form>
    </div>
    
<script src="/javascript/login.js"></script