<div class="card">
      <h3 class="card-header">Sign Up</h3>
      <form id="signup-form" class="card-body">
        <label for="username-signup" class="label">Username</label>
        <input id="username-signup" type="text" class="input" />


        <label class="label" for="password-signup">Password</label>
        <input  id="password-signup" type="password" class="input" />

        <button type="submit" class="btn">Submit</button>
        <a class="login-link" href="/login">Login</a>
      </form>
    </div>

<script src="/javascript/signup.js"></script>